@font-face {
  font-family: starwarfont;
  src: url(./resources/Starjedi.ttf);
}
@font-face {
  font-family: icons;
  src: url(./resources/icomoon.ttf);
}
body,
html {
  margin: 0;
  padding: 0;
  background: #000 url(./resources/images/stars.png) repeat top center;
}
.link{
  font-family: icons,starwarfont;
}
.link::after {
  content: "\a\e900";
  white-space: pre;
}
.stars {
  color: aliceblue;
  width: 100%;
  font-family: starwarfont;
}
.stars h1 {
  text-shadow: 5px 5px rgba(255, 255, 0, 0.336);
  text-align: center;
  font-size: 100px;
  padding: 3%;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.link.active::after {
  content: "\a\e901";
  white-space: pre;
}



